<template>
  <section id="about-us" class="bg-primary w-full">
    <div class="container pt-10 pb-10">
      <span class="font-cali block text-center text-type text-3xl mb-5">
        We are getting married
      </span>
      <div
        class="font-quicksand flex justify-center flex-col md:flex-row items-center"
      >
        <div class="reza flex-col md:flex-row flex items-center">
          <div class="info text-type p-5 text-center md:text-right">
            <span class="block font-semibold">Reza Iswadi</span>
            <span>
              Putra dari Keluarga Bpk Anwar Supriyadi dan Ibu Dewi Maryati
            </span>
          </div>
          <div class="photo w-32 md:w-48">
            <img
              loading="lazy"
              alt="…"
              class="rounded-full border-8 border-secondary"
              src="~assets/img/groom.jpg"
            />
          </div>
        </div>
        <div class="love flex items-center m-5 justify-center">
          <svg
            id="Capa_1"
            class="w-10 m-4 fill-current text-type"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 477.534 477.534"
            style="enable-background: new 0 0 477.534 477.534;"
            xml:space="preserve"
          >
            <g>
              <g>
                <path
                  d="M438.482,58.61c-24.7-26.549-59.311-41.655-95.573-41.711c-36.291,0.042-70.938,15.14-95.676,41.694l-8.431,8.909
			l-8.431-8.909C181.284,5.762,98.663,2.728,45.832,51.815c-2.341,2.176-4.602,4.436-6.778,6.778
			c-52.072,56.166-52.072,142.968,0,199.134l187.358,197.581c6.482,6.843,17.284,7.136,24.127,0.654
			c0.224-0.212,0.442-0.43,0.654-0.654l187.29-197.581C490.551,201.567,490.551,114.77,438.482,58.61z"
                />
              </g>
            </g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
          </svg>
        </div>
        <div class="dewi flex flex-col md:flex-row items-center">
          <div class="photo w-32 md:w-48">
            <img
              loading="lazy"
              alt="…"
              class="rounded-full border-8 border-secondary"
              src="~assets/img/bride.jpg"
            />
          </div>
          <div class="info text-type p-5 text-center md:text-left">
            <span class="block font-semibold">Dewi Ryani Ilron</span>
            <span>
              Putri dari Keluarga Bpk Syahriadi dan Ibu Mardiah
            </span>
          </div>
        </div>
      </div>
    </div>
    <svg
      class="block fill-current text-type"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 270"
    >
      <path
        fill-opacity="1"
        d="M0,64L60,58.7C120,53,240,43,360,80C480,117,600,203,720,218.7C840,235,960,181,1080,154.7C1200,128,1320,128,1380,128L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
      ></path>
    </svg>
  </section>
</template>
