<template>
  <Nuxt />
</template>

<style>
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Calligraffitti;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/calligraffitti/v12/46k2lbT3XjDVqJw3DCmCFjE0vkFeOZc.woff2)
    format('woff2');
}

@font-face {
  font-family: Quicksand;
  src: url('~assets/font/Quicksand.woff2') format('woff2');
}

@font-face {
  font-family: Jaime;
  src: url('~assets/font/Jaime-Blues.woff2') format('woff2');
}

.font-cali {
  font-family: 'Calligraffitti';
}

.font-jaime {
  font-family: 'Jaime';
}

.font-quicksand {
  font-family: 'Quicksand';
}
</style>
